
html, body {
  height: 100%;
  width: 100%;
  text-align-last: center;
background-color: black;

}h1
{
  margin-top: 50px;
  color: skyblue;
}

.box{


  display: inline-flex;
}
h3{
  color: black;
  border: solid 1.5px white;
  border-radius: 5px;
padding: 50% 80%;
}
p{
  color: whitesmoke;
margin-bottom: 20px;

}
#first
{
  background-color: white;
margin-right: 15px;
  margin-left: -15px;
}
#second{
  background-color: white;
}
.main{
  text-align: center;
}
